<nb-card class="cards-container" *ngIf="circuitSettings">
  <nb-card size="large" class="table-card">
    <nb-card-header style="background-color: #ffd22e;">
      {{circuitSettings.title}}
    </nb-card-header>
        <nb-list>
          <nb-list-item *ngFor="let circuit of circuitSettings.circuits">
            <div style="display: flex; flex-direction: column; width: 100% !important;">
              <div style="display: flex; flex-direction: row; width: 100% !important; font-weight:700 !important">
                <div style="width: 50%;">
                  <span style="width: 50%;" class="month">{{ circuit.nombre }}</span>

                </div>
                <div style="width: 50%; text-align: end;">
                  <span style="width: 50%;">{{circuit.totalcargados}} de {{ circuit.totaltelegramas}}</span>
                </div>
             </div>
             <div style="display: flex; flex-direction: row; width: 100%; padding-top: 5px;">
              <nb-progress-bar style="width: 100%;" [value]="(circuit.totalcargados/circuit.totaltelegramas) *100 | round" status="primary" [displayValue]="true"></nb-progress-bar>
            </div>
          </div>
          </nb-list-item>
        </nb-list>
  </nb-card>
